**/__pycache__
**/.ipynb_checkpoints
**/clean_codes_v2/.ipynb_checkpoints
**.pyc
**/Test
**/nohup.out
**/PBS_Scripts/master_log*
**/PBS_Scripts/*.o*
**/PBS_Scripts/*.e*
**/Mega_Runs*
**/Test_R*
**/logs
**/clean_codes_v2/paths.py
**/Config_gitika
**/Config_lipsa
**/Config_vikram
**/PBS_Scripts_*
**/WS_PBS_Scripts/*.o*
**/WS_PBS_Scripts/*.e*
**/WS_PBS_Scripts/master_log*
**/Pipeline_Runs*
